name: Test
on:
  push:
    branches:
      - main
    pull_request:
      branches:
      - main
  release:
    types: [published]
env:
  NODE_VERSION: '22.x'
jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    needs: detect-changes
    if: |
      needs.detect-changes.outputs.lib == 'true' ||
      needs.detect-changes.outputs.bin == 'true' ||
      needs.detect-changes.outputs.tests == 'true'
    run: npm run lint
